
<%- include('partials/header'); -%>


         <!-- end header section -->
         <!-- slider section -->
         <section class="slider_section ">
            <div class="slider_bg_box">
               <img src="images/slider-bg.jpg" alt="https://ndubuisiagughara.netlify.app/">
            </div>
            <div id="customCarousel1" class="carousel slide" data-ride="carousel">
               <div class="carousel-inner">
                  <div class="carousel-item active">
                     <div class="container ">
                        <div class="row">
                           <div class="col-md-7 col-lg-6 ">
                              <div class="detail-box">
                                 <a href="https://ndubuisiagughara.netlify.app/" target="_blank" rel="noopener noreferrer">MY CV</a>
                                 <h1>
                                    Ndubuisi <br>
                                    <span>
                                    Xcloud file,
                                    </span>
                                    <br>
                                    Photo Upload
                                 </h1>
                                 
                                 <div class="btn-box">
                                    <a href="/signup" class="btn1">
                                    Upload Now
                                    </a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="carousel-item ">
                     <div class="container ">
                        <div class="row">
                           <div class="col-md-7 col-lg-6 ">
                              <div class="detail-box">
                                 <h1>
                                    Ndubuisi <br>
                                    <span>
                                    Xcloud file,
                                    </span>
                                    <br>
                                    Photo Upload
                                 </h1>
                                 
                                 <div class="btn-box">
                                    <a href="/signup" class="btn1">
                                    Upload Now
                                    </a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="carousel-item">
                     <div class="container ">
                        <div class="row">
                           <div class="col-md-7 col-lg-6 ">
                              <div class="detail-box">
                                 <h1>
                                    Ndubuisi <br>
                                    <span>
                                    Xcloud file,
                                    </span>
                                    <br>
                                    Photo Upload
                                 </h1>
                                 
                                 <div class="btn-box">
                                    <a href="/signup" class="btn1">
                                    Upload Now
                                    </a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="container">
                  <ol class="carousel-indicators">
                     <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
                     <li data-target="#customCarousel1" data-slide-to="1"></li>
                     <li data-target="#customCarousel1" data-slide-to="2"></li>
                  </ol>
               </div>
            </div>
         </section>
         <!-- end slider section -->
      </div>
   
      <%- include('partials/footer'); -%>
      <!-- end arrival section -->
      
     
   
      <!-- end client section -->
      <!-- footer start -->
     
      <!-- footer end -->
    