<%- include('partials/header'); -%>

<form action="/signup">
<div>
  
  <div class="login-box">
    <h2>Login</h2>
  
      
        <label for="email">Email</label>
        <input type="text" name="email" >
        <div class="email error"></div>
      
      
        <label for="password">Password</label>
        <input type="password" name="password" >
        <div class="password error" ></div>
    
      <a >
        <button>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Login
      </button>
      </a>
   
  </div>

</div>
</form>

<div class="container">
  <ol class="carousel-indicators">
     <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
     <li data-target="#customCarousel1" data-slide-to="1"></li>
     <li data-target="#customCarousel1" data-slide-to="2"></li>
  </ol>
</div>
</div>
</section>
<!-- end slider section -->
</div>

<%- include('partials/footer'); -%>

<script>
  const form = document.querySelector('form');
  const emailError = document.querySelector('.email.error');
  const passwordError = document.querySelector('.password.error');
  form.addEventListener('submit', async (e) => {
    e.preventDefault();
    // reset errors
    emailError.textContent = '';
    passwordError.textContent = '';
    // get values
    const email = form.email.value;
    const password = form.password.value;
    try {
      const res = await fetch('/login', { 
        method: 'POST', 
        body: JSON.stringify({ email, password }),
        headers: {'Content-Type': 'application/json'}
      });
      const data = await res.json();
      console.log(data);
      if (data.errors) {
        emailError.textContent = data.errors.email;
        passwordError.textContent = data.errors.password;
      }
      if (data.user) {
        location.assign('/');
      }
    }
    catch (err) {
      console.log(err);
    }
  });
</script>